section h1{
	font-size: 20px;
}
section h2{
	font-size: 16px;
}
#column1{
	background-color: #ffd3d3;
	float: left;
	padding: 1em;
	width: 33%;
}
#column2{
	background-color: #ffa5a5;
	float: left;
	padding: 1em;
	width: 33%;
}
#column3{
	background-color: #ff7777;
	float: left;
	padding: 1em;
	width: 33%;
}
